.navbar{
    background-color: #11bbd9;
}

.navbar-brand{
    font-size: 24px;
    text-align: center;
}

.navbar-brand:hover{
    color: #ffffff;
}

.navbar-brand, .nav-item .nav-link{
    color: #ffffff;
}

.btn{
    color: #ffffff;
    border: 1px solid #ffffff;
}

.btn:hover{
    color: #ffffff;
}

.navbar-toggler-icon{
    color: #ffffff;
}